body
{
	padding-top:20px;
	padding-bottom:20px
}

.header, .marketing, .footer
{
	padding-right:15px;
	padding-left:15px
}
.header
{
	padding-bottom:20px;
	border-bottom:1px solid #e5e5e5
}
.header h3
{
	margin-top:0;
	margin-bottom:0;
	line-height:40px
}

.footer
{
	padding-top:19px;
	color:#777;
	border-top:1px solid #e5e5e5
}

@media(min-width:1024px)
{
	.container
	{
		max-width:986px
	}
}
.container-narrow > hr
{
	margin:30px 0
}

.todolist
{
	text-align:center;
	border-bottom:1px solid #e5e5e5
}
.todolist .btn
{
	padding:14px 24px;
	font-size:21px
}

.marketing
{
	margin:40px 0
}

.marketing p+h4
{
	margin-top:28px
}

@media screen and (min-width:768px)
{
	.header, .marketing, .footer
	{
		padding-right:0;
		padding-left:0
	}
	.header
	{
		margin-bottom:30px
	}
	.todolist
	{
		border-bottom:0
	}
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input[type=name]
{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type=password]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}